[submodule "files/antigen"]
	path = files/antigen
	url = https://github.com/zsh-users/antigen
[submodule "files/vim/bundle/Vundle.vim"]
	path = files/vim/bundle/Vundle.vim
	url = https://github.com/gmarik/Vundle.vim
