*.wants/
*local.?*
files/emacsd/.python-environments
files/emacsd/ac-comphist.dat
files/emacsd/auto-save-list
files/emacsd/ede-projects.el
files/emacsd/el-get/
files/emacsd/elpa
files/emacsd/semanticdb
files/emacsd/srecode-map.el
files/shutils/local*.*
files/shutils/_dircolors.sh
files/nvim/.netrwhist
files/nvim/lazy-lock.json
