files/emacsd/auto-save-list
files/emacsd/semanticdb
files/emacsd/elpa
files/emacsd/ac-comphist.dat
files/emacsd/ede-projects.el
files/emacsd/srecode-map.el
files/emacsd/.python-environments
files/emacsd/el-get/
files/vim/.netrwhist
files/vim/bundle
files/vim/plugged
*local.?*
