[Unit]
Description=Fcitx daemon user service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/fcitx -D
Restart=always

[Install]
WantedBy=xsession.target
