[Unit]
Description=Ibus Daemon user service
PartOf=graphical-session.target

[Service]
ExecStart=/usr/bin/ibus-daemon -rx
Restart=always

[Install]
WantedBy=xsession.target
